@charset "UTF-8";

/* $breakpoints: (
  'sm': (min-width: 768px),
  'md': (min-width: 1024px),
  'lg': (min-width: 1280px)
) */


/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: Hiragino Kaku Gothic Pro;
  color: #0C141E
}

.wrapper {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

/* header
------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: relative;
  z-index: 10;
}

.header__image {
  width: 200px;
  margin: 12px 15px;
}

.header-btn {
  width: 90px;
  background-color: #203354;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-btn__text {
  font-size: 16px;
  color: #FFFFFF;
}

/* MENU CLOSE の表示切り替え */
.header-btn__text::after {
  content: "MENU";
}
.header-btn__text.active::after {
  content: "CLOSE";
}

.header-btn__icon {
  position: relative;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

/* 三本線のスタイル */
.header-btn__icon span {
  display: block;
  width: 25px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  transition: all 0.5s ease;
}

/* 線の縦位置 */
.header-btn__bar1 {
  top: 5px;
}
.header-btn__bar2 {
  bottom: 8px;
}

/* メニュークリック 線の位置 */
.header-btn__bar1.open {
  transform: translateY(5px) rotate(45deg);
}
.header-btn__bar2.open {
  transform: translateY(-5px) rotate(-45deg);
}

/* ナビゲーション
------------------------------- */
.nav {
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

.is-open {
  display: none;
}

.nav__list {
  width: 100%;
  list-style: none;
}

.nav__item {
  border-bottom: 2px solid #E9E9E9;
  padding: 15px 0;
  margin: 0 15px;
}

.nav__item:last-child {
  border: none;
}

.nav__item::after {
  content: "";
  display: inline-block;
  background: url("images/allow.svg") no-repeat;
  width: 40px;
  height: 10px;
  margin-left: 25px;
}

.nav__link {
  text-decoration: none;
  color: #0C141E;
}

.nav__text {
  width: 55%;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

.nav__text span {
  display: none;
}

/* MV
------------------------------- */
.mv {
  width: 100%;
  height: 400px;
  position: relative;
  background: url("images/MV.jpg") no-repeat center;
  background-size: cover;
}

.mv::before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.mv__title {
  font-size: 32px;
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
}

.figure-group {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
}

.figure-group__figure {
  width: 71px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-group__figure::before {
  content: "";
  position: absolute;
  display: block;
  width: 71px;
  height: 71px;
  border: 1px solid #FFFFFF;
  transform: rotate(-45deg);
}

.figure-group__text {
  font-size: 10px;
  color: #FFFFFF;
}

.figure-group__allow {
  position: absolute;
  left: 10%;
  animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove{
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 0%;
  }
}

/* 矢印の描写 */
.figure-group__allow:before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 3px;
  width: 1px;
  height: 5px;
  background: #FFFFFF;
  transform: skewX(45deg);
}

.figure-group__allow:after{
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 1px;
  height: 95px;
  background: #FFFFFF;
}

/* タイトル
------------------------------- */
.title-wrap {
  width: 100%;
  height: 100px;
  background-color: #203354;
  position: relative;
}

.title__text {
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
}

.br-flex {
  display: none;
}

/* タイトルの図形 */
.title__polygon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 75px 0 0;
  border-color: #90C2EB transparent transparent transparent;
}

/* メインコンテンツ
------------------------------- */
.catch {
  width: 100%;
  height: auto;
  padding: 25px 15px;
  background-color: #E9E9E9;
}

.catch-group {
  width: 100%;
  margin-bottom: 25px;
}

.catch-group:last-child {
  margin-bottom: 0;
}

.catch-group__image {
  width: 100%;
  height: 230px;
  background-size: cover;
}

.catch-group__image_01 {
  background-image: url(images/dev.jpg);
}

.catch-group__image_02 {
  background-image: url(images/consul.jpg);
}

.catch-group__image_03 {
  background-image: url(images/office.jpg);
}

.catch-group__title {
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0; 
}

.catch-group__text {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

/* info
------------------------------- */
.info {
  height: 180px;
  padding: 50px 0;
}

.info_color {
  background-color: #6692C1;
}

.info__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 12px;
}

.info__link {
  color: #0C141E;
  text-decoration: none;
}

.info-btn {
  display: flex;
  align-items: center;
  background-image: url(images/allow.svg);
  background-size: 40px;
  background-position: 75% 50%;
  border: 2px solid #0C141E;
  width: 251px;
  height: 44px;
  margin: 0 auto;
  padding: 10px;
}

.info-btn:hover,
.info-btn:focus {
  color: #FFFFFF;
  background-color: #0C141E;
  background-image: url(images/allow_w.svg);
}

.info-btn__text {
  width: 60%;
  font-size: 16px;
  line-height: 24px;
  text-align: end;
}

/* post
------------------------------- */
.post {
  width: 100%;
  height: auto;
  background-color: #203354;
  color: #FFFFFF;
  padding: 25px 15px 50px;
}

.post_padding {
  padding: 50px 15px 25px;
}

.post_color {
  background-color: #E9E9E9;
  color: #0C141E;
}

.post-wrap {
  margin: 0 auto;
}

.post__title {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 25px;
}

.post-group {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.post-group_border {
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
}

.post-group_border + .post-group_border {
  border-top: 0;
}

.post-group_padding {
  padding: 15px;
  margin-bottom: 0;
}

.post-group__date {
  font-weight: 700;
}

.post-group__date_weight {
  font-weight: initial;
}

.post-group__date_margin_bottom {
  margin-bottom: 8px;
}

/* map
------------------------------- */
.map {
  width: 100%;
  height: 400px;
}

/* contact
------------------------------- */
.form {
  background-color: #E9E9E9;
  padding: 50px 15px 25px;
}

.form__item {
  margin-bottom: 12px;
}

.form__item_margin-bottom {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #C6C6C6;
  padding: 8px;
}

.form__textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #C6C6C6;
  padding: 8px;
}

.form-btn-wrap {
  padding: 37px 0;
}

.form-btn {
  display: flex;
  align-items: center;
  background-image: url(images/allow.svg);
  background-size: 40px;
  background-position: 75% 50%;
  border: 2px solid #0C141E;
  width: 251px;
  height: 44px;
  margin: 0 auto;
  padding: 10px;
}

.form-btn__text {
  width: 60%;
  text-align: end;
}

/* footer
------------------------------- */
.footer-nav__md {
  display: none;
}

.footer {
  background-color: #203354; 
}

.footer__image {
  width: 200px;
  height: auto;
  padding: 50px 15px 0;
}

.footer__address {
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 25px 15px;
}

.footer-nav__sm {
  background-color: #90C2EB;
}

.nav__item_footer_border-color {
  border-bottom: 2px solid #0C141E;
}

.nav__item_margin {
  margin: 0;
}

.copyright {
  color: #FFFFFF;
  text-align: center;
  padding: 25px;
}


/* min-width: 768px
------------------------------- */
@media (min-width: 768px) {
  /* 共通部分
  ----------------------------- */
  .main-contents {
    margin-bottom: 25px;
  }

  /* header
  ----------------------------- */
  .header {
    height: 90px;
  }

  .header__image {
    width: 300px;
    margin: 20px 50px;
  }

  .header-btn {
    width: 180px;
  }

  /* ナビゲーション
  ----------------------------- */
  .nav {
    top: 90px;
    height: 100px;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .nav__item {
    width: 25%;
    border-bottom: 0;
    padding: 0;
    margin: 0;
  }

  .nav__item::after {
    display: none;
  }

  .nav__item + .nav__item {
    border-left: 1px solid #E9E9E9;
  }

  .nav__item:hover {
    background-color: #6692C1;
  }

  .nav__text {
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }

  .nav__text span {
    display: block;
    font-size: 16px;
    font-weight: initial;
    margin-top: 10px;
  }

  .nav__text:hover {
    color: #FFFFFF;
  }

  /* MV
  ----------------------------- */
  .mv {
    height: 540px;
  }

  .mv__title {
    font-size: 40px;
  }

  .br-sp {
    display: none;
  }

  .figure-group {
    left: 88%;
  }

  /* メインコンテンツ
  ----------------------------- */
  .contents {
    margin-bottom: 25px;
  }
  .catch {
    display: flex;
    justify-content: space-between;
    gap: 0 25px;
    padding: 25px 37px;
  }

  .catch-group {
    max-width: 300px;
    margin-bottom: 0;
  }

  .catch-group__image {
    height: 200px;
  }

  /* info
  ----------------------------- */
  .info-wrap {
    display: flex;
    justify-content: space-between;
  }

  .info {
    width: 100%;
    height: 203px;
  }

  .info_height {
    height: auto;
  }

  .info_padding {
    padding: 50px 0 0;
  }

  .info-btn {
    width: 238px;
    height: 54px;
  }

  /* post
  ----------------------------- */
  .post {
    padding: 50px 0;
  }

  .post_padding {
    padding: 50px;
  }

  .post-wrap {
    max-width: 654px;
  }

  .post-wrap_width {
    max-width: 924px;
  }

  .post__title {
    margin-bottom: 50px;
  }

  .post-group {
    display: flex;
  }

  .post-group_padding {
    padding: 25px;
  }

  .post-group__text {
    width: 82%;
  }

  .post-group__date {
    width: 18%;
  }

  .post-group__date_margin_bottom {
    margin-bottom: 0;
  }

  /* contact
  ----------------------------- */
  .form {
    padding: 50px 50px 25px;
  }

  .form__item {
    margin-bottom: 25px;
  }

  .form__label {
    margin-bottom: 15px;
  }

  .form__input {
    padding: 8px 15px;
  }

  .form__textarea {
    padding: 8px 15px;
  }

  .form-btn-wrap {
    padding: 25px 0;
  }

  /* footer
  ----------------------------- */
  .footer-nav__sm {
    display: none;
  }

  .footer-nav__md {
    display: block;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
    padding: 75px 50px 50px;
  }

  .footer__image {
    width: 200px;
    height: 40px;
    padding: 0;
  }

  .footer__address {
    width: 200px;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
  }

  .footer-nav__list {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
  }

  .footer-nav__link {
    text-decoration: none;
    color: #FFFFFF;
  }
}

/* min-width: 1024px
------------------------------- */
@media (min-width: 1024px) {
  /* ナビゲーション
  ----------------------------- */
  .nav__list {
    padding: 0 50px;
  }
  .nav__item {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
  }
  .nav__item + .nav__item {
    border-left: 0;
    border-right: 1px solid #E9E9E9;
  }
  
  /* タイトル
  ----------------------------- */
  .title-wrap_flex {
    max-width: 200px;
    height: auto;
  }

  .title-wrap_height {
    height: 203px;
  }

  .br-flex {
    display: block;
  }

  /* メインコンテンツ
  ----------------------------- */
  .contents {
    display: flex;
  }

  .catch {
    max-width: 1000px;
    height: auto;
    padding: 25px;
  }

  /* info
  ----------------------------- */
  .info-wrap {
    width: 1000px;
  }

  /* post
  ----------------------------- */
  .post-wrap_width {
    max-width: 1100px;
  }

  /* footer
  ----------------------------- */
  .footer__image {
    max-width: 300px;
    height: 50px;
  }

  .footer__address {
    max-width: 350px;
  }

  .footer-nav__list {
    max-width: 350px;
  }
}