@charset "UTF-8";

/* $breakpoints: (
  'sm': (min-width: 640px),
  'md': (min-width: 1024px),
  'lg': (min-width: 1280px)
) */


/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: Hiragino Kaku Gothic Pro;
  color: #0C141E
}

.wrapper {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

/* header
------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: relative;
  z-index: 10;
}

.header__image {
  width: 200px;
  margin: 12px 15px;
}

.header-btn {
  width: 90px;
  background-color: #203354;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-btn__text {
  font-size: 16px;
  color: #FFFFFF;
}

/* MENU CLOSE の表示切り替え */
.header-btn__text::after {
  content: "MENU";
}
.header-btn__text.active::after {
  content: "CLOSE";
}

.header-btn__icon {
  position: relative;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

/* 三本線のスタイル */
.header-btn__icon span {
  display: block;
  width: 25px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  transition: all 0.5s ease;
}

/* 線の縦位置 */
.header-btn__bar1 {
  top: 5px;
}
.header-btn__bar2 {
  bottom: 8px;
}

/* メニュークリック 線の位置 */
.header-btn__bar1.open {
  transform: translateY(5px) rotate(45deg);
}
.header-btn__bar2.open {
  transform: translateY(-5px) rotate(-45deg);
}

/* ナビゲーション
------------------------------- */
.nav {
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

.nav__list {
  width: 100%;
  list-style: none;
}

.nav__item {
  padding: 15px 0;
}

.nav__item::after {
  content: "";
  display: inline-block;
  background: url("images/allow.svg") no-repeat;
  width: 40px;
  height: 10px;
  margin-left: 25px;
}

.nav__link {
  text-decoration: none;
  color: #0C141E;
}

.nav__text {
  width: 50%;
  display: inline-block;
  font-size: 20px;
  text-align: right;
}

.nav__text span {
  display: none;
}

/* MV
------------------------------- */
.mv {
  width: 100%;
  height: 400px;
  position: relative;
  background: url("images/MV.jpg") no-repeat center;
  background-size: cover;
}

.mv::before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.mv__figure-group {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
}

.mv__figure {
  width: 71px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv__figure::before {
  content: "";
  position: absolute;
  display: block;
  width: 71px;
  height: 71px;
  border: 1px solid #FFFFFF;
  transform: rotate(-45deg);
}

.mv__text {
  font-size: 10px;
  color: #FFFFFF;
}

.mv__allow {
  position: absolute;
  left: 10%;
  animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove{
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 0%;
  }
}

/* 矢印の描写 */
.mv__allow:before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 3px;
  width: 1px;
  height: 5px;
  background: #FFFFFF;
  transform: skewX(45deg);
}

.mv__allow:after{
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 1px;
  height: 95px;
  background: #FFFFFF;
}



/* min-width: 640px
------------------------------- */
@media (min-width: 640px) {
  /* header
  ----------------------------- */
  .header {
    height: 90px;
  }

  .header__image {
    width: 300px;
    margin: 20px 50px;
  }

  .header-btn {
    width: 180px;
  }

  /* ナビゲーション
  ----------------------------- */
  .nav {
    top: 90px;
    height: 100px;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .nav__item {
    width: 25%;
    padding: 0;
  }

  .nav__item::after {
    display: none;
  }

  .nav__item + .nav__item {
    border-left: 1px solid #E9E9E9;
  }

  .nav__item:hover {
    background-color: #6692C1;
  }

  .nav__text {
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }

  .nav__text span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
  }

  .nav__text:hover {
    color: #FFFFFF;
  }

  /* MV
  ----------------------------- */
  .mv {
    height: 540px;
  }
  .mv__figure-group {
    left: 88%;
  }
}